{% extends 'base.html' %}
{% load static %}



{% block page_content %}
<div class="container py-5">
    <h2 class="text-center py-5" id="header">Projects Using {{title}}</h2>
</div>
<div class="contaner pb-5">
    <div class="row">
        <div class="col text-center">
            <img src="{% static tech.icon %}" alt="Python Logo" width="200" height="120">
            </img>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        {% for project in projects %}
            {% if tech in project.technologies.all %}
            <div class="col-sm-12 col-lg-4 mb-4">
                <div class="card text-center bg-transparent text-white mb-3">
                    <img class="card-img-top h-25" src="{% static project.icon %}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.short_desc }}</p>
                        <div class="row justify-content-center align-items-center">
                            <a href="{% url 'proj_page' project.name %}" class="btn btn-outline-primary m-1" style="margin: 0px 60px">
                                Details
                            </a>
                            <a href={{project.repo}} target="_blank" class="btn btn-outline-primary m-1" style="margin: 0px 60px">
                                Code
                            </a>
                            <a type="button" class="btn btn-outline-primary m-1" data-container="body" data-toggle="popover" data-placement="right" data-content={{project.technologies.all}} data-trigger="hover" style="margin: 0px 60px">
                                Tech Used
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <!-- continue -->
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}