{% extends 'baseproj.html' %}



{% block proj_readme %}

<h4 class="text-left py-5">Backend</h4>

<p class="row py-2">
This site was built with Python and Django.
I only found it necessary to use one app as I took a single page approach.
The main page of the site is meant to provide a high level overview of my skillset, projects, and experience.
Additionally, I wanted to provide the option to take a deeper dive into how I implemented different technologies and the approach I took for each project.
Because Django is great at building out scalable content on web apps it was a great choice to build a portfolio site quickly where I could easily add content 
as my professional capabilities continue to grow.
The sections I have where scalability is necessary are technologies and projects.
I established a many to many relationship between these two tables in the database to allow visitors a choice in how the information they were looking for was organized.
The structural layout is built in a way where a visitor can browse by project and see what technologies where used for each or browse by technology and see what projects used that technology.
</p>


<h4 class="text-left py-5">Frontend</h4>

<p class="row py-2">
The frontend utilizes bootstrap and a custom CSS stylesheet. 
Bootstrap is a great template that provides an excellent starting point, but there are plenty of things that can be added to it. 
Feel free to poke around at my CSS to see how I altered and added to the bootstrap framework.
</p>

{% endblock %}

