.divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.nav-shadow {
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.navbar {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}

.card {
    transition: 2s;
}

.card:hover {
    border-radius: 15px; 
    box-shadow: 0 0 60px #0d6dfd9a;
}

.nav-link {
    transition: .7s;
}

.nav-link:hover {
    color: white;
    background: #0d6dfd9a;
    border: rgba(0, 0, 0);
    font-weight: bolder;
    letter-spacing: .2em;
    
}

.footer:hover {

    box-shadow: 0 0 45px #0d6dfd9a;
    background-color: #0d6dfd9a;
    font-weight: bolder;
}

.alt {
    transition: 2s;
}

.alt.nav-link:hover {
    color: white;
    background: transparent;
}
.alt.btn-outline-primary {
    border-radius: 20px; 

    font-weight: bolder;
}

.alt.btn-outline-primary:hover {
    border-radius: 20px; 
    box-shadow: 0 0 45px #0d6dfd9a;
    background-color: #0d6dfd9a;
    font-weight: bolder;
}

.cardbtn {
    transition: 2s;
}

.cardbtn:hover {
    /* font-weight: bold; */
    letter-spacing: .1em;
}


