{% extends 'base.html' %}



{% block page_content %}

    <div class="container pt-5">
        <h2 class="text-center pt-5" id="header">{{title}}</h2>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col text-center">
                <a href={{project.repo}} target="_blank" class="cardbtn btn btn-outline-primary align-self-center">
                    Code
                </a>
                <a href='#techused' class="cardbtn btn btn-outline-primary align-self-center">
                    Tech Used
                </a>
            </div>
        </div>
    </div>
    <div class="container py-5 mb-5">
        {% block proj_readme %}
        {% endblock %}
    </div>
    <div class="divider" id="techused"></div>
    <div class="container py-5">
        <div class="row">
            <h4 class="text-center py-5" id="tech">Technologies Used</h4>
        </div>
        <div class="row">
            {% for tech in techs %}
                <div class="col-sm-12 col-lg-4 mb-4">
                    <div class="card text-center bg-dark text-white mb-3">
                        <a href="{% url 'tech_page' tech.name %}">
                            <img class="card-img-top" src="{{ tech.icon.url }}">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <a href="{% url 'tech_page' tech.name %}" class="cardbtn btn btn-outline-primary">{{ tech.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}