{% extends 'base.html' %}



{% block page_content %}
<div class="container py-5">
    <h2 class="text-center py-5" id="header">Projects Using {{title}}</h2>
</div>
<div class="contaner pb-5">
    <div class="row">
        <div class="col text-center">
            <img class="img-fluid" height="200" width="200" src="{{ tech.icon.url }}" alt="Logo">
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        {% for project in projects %}
            {% if tech in project.technologies.all %}
            <div class="col-sm-12 col-lg-4 mb-4">
                <div class="card text-center bg-transparent text-white mb-3">
                    <img class="card-img-top h-25" src="{{ project.icon.url }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.short_desc }}</p>
                        <div class="row justify-content-evenly align-items-center">
                            <div class="d-grid col">
                                <a href="{% url 'proj_page' project.name %}" class="btn btn-outline-primary m-1" role="button">
                                    Details
                                </a>
                            </div>    
                            <div class="d-grid col">
                                <a href={{project.repo}} target="_blank" class="btn btn-outline-primary m-1" role="button" style="margin: 0px 60px">
                                    Code
                                </a>
                            </div>    
                        </div>
                        <div class="row justify-content-evenly align-items-center">
                            <div class="btn-group-vertical">
                                <a class="btn btn-outline-primary active" aria-disabled="true">
                                Made Using:
                                </a>
                                <div class="btn-group flex-wrap" role="group">
                                    {% for key, value in display_techs.items %}
                                        {% if project.name == key %}
                                            {% for tech in value %}
                                                <a href="{% url 'tech_page' tech.name %}"
                                                class="btn btn-outline-primary"> 
                                                {{ tech.name }}
                                                </a>
                                            {% endfor %}
                                        {% else %}
                                        <!-- continue -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <!-- continue -->
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}