{% extends 'baseproj.html' %}



{% block proj_readme %}

<h4 class="text-left py-5">Object Oriented Batch Pipeline with CI/CD</h4>

<p class="row py-2">
I use a python script as a Google Cloud Function, which is continuously deployed by a google cloud build trigged off of
push requests to the master branch in the Github repo. I took an Object Oriented approach for the design of the pipeline.
I create a unique child DataSource object for each set of data I am ingesting which are fed through a Pipeline object that handles
fetching API keys, scheduling, and general process flow. The DataSource objects are designed to handle the ETL steps required, and land
the data into the appropriate table in Google Bigquery. The pipeline is simple to scale as it only requires a child DataSource object to 
be created in order to integrate an additional ingestion need.
</p>

<h4 class="text-right py-5">Explore Project Miro Board</h4>

<iframe 
width="100%" 
height="100%" 
src="https://miro.com/app/live-embed/uXjVODq1Cto=/?moveToViewport=-3488,-1568,5860,2957&embedId=632746785333" 
frameborder="0" scrolling="no" 
allowfullscreen>
</iframe>


{% endblock %}