{% extends 'baseproj.html' %}
{% load static %}



{% block proj_readme %}
<div class="clearfix">
    <h4 class="text-center py-5">Object Oriented Batch Pipeline with CI/CD</h4>
    <img src="{{ DataPipeline_Diagram.url }}" class="img-fluid col-md-7 float-md-end mb-3 ms-md-3" style="aspect-ratio: 2/1"/>
    <p>
    I use a python script that is run as a Google Cloud Function, which is continuously deployed by a google 
    cloud build trigged off of push requests to the master branch in the Github repo.
    </p>
    <p>
    The Cloud Function is run off a daily pub/sub call, the pipeline identifies the DataSources that need to be
    ingested and executes those while skipping any that don't need to run.
    </p>
    <p>
    I used an Object Oriented approach for the design of the pipeline. I create a unique child 
    DataSource object for each set of data I am ingesting which are fed through a Pipeline object 
    that handles fetching API keys, scheduling, and general process flow. The DataSource objects 
    are designed to handle the ETL steps required, and land the data into the appropriate table in Google Bigquery.
    </p>
    <p>
    The pipeline is simple to scale as it only requires a child DataSource object to 
    be created in order to integrate an additional ingestion need.
    </p>
</div>


<div class="container pb-5 mb-5">
    <h4 class="text-right py-5">Explore Project Miro Board</h4>

    <iframe 
    id="miro"
    style="aspect-ratio: 2/1"
    width="100%" 
    height="100%" 
    src="https://miro.com/app/live-embed/uXjVODq1Cto=/?moveToViewport=-3488,-1568,5860,2957&embedId=632746785333" 
    frameborder="0" scrolling="no" 
    allowfullscreen>
    </iframe>
</div>





{% endblock %}