{% extends 'base.html' %}




{% block page_content %}
    <div class="container py-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center py-5" id="About-Me">About Me</h2>
                <p>
                    I am a data engineer and software developer with a background in Web, CSAT, Transportation and Supply Chain analytics.
                    I have a passion for data, analytics and software development. I love creating and learning new things.
                </p>
                <p>
                    I am fascinated by how much value can be created using data and strong system design. I enjoy the 
                    process of exploring new ideas and concepts around software, AI/ML and system architecture. I find building creative solutions for 
                    difficult problems extremly fulfilling. My favorite projects to work on are the ones 
                    that allow me to flex my creativity as well as grow my professional skillset.
                    <br>
                    <br>
                    Here you will find personal projects that I have worked on since I taught myself how to code, and the languages and tools I've used to make them. 
                    In addition to what's shown here, I typically have a handful of projects that are in progress on my github.
                </p>
            </div>
        </div>
    </div>
    <div class="divider" id="Projects"></div>
    <div class="container-md py-5">
    <h2 class="text-center py-5">Projects</h2>
        <div class="row">
            {% for project in projects %}
                <div class="col-sm-12 col-lg-4 mb-4">
                    <div class="card text-center bg-transparent text-white mb-3">
                        <img class="card-img-top" src="{{ project.icon.url }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <p class="card-text">{{ project.short_desc }}</p>
                            <div class="row justify-content-evenly align-items-center">
                                <div class="d-grid col">
                                    <a href="{% url 'proj_page' project.name %}" class="cardbtn btn btn-outline-primary m-1" role="button">
                                        Details
                                    </a>
                                </div>    
                                <div class="d-grid col">
                                    <a href={{project.repo}} target="_blank" class="cardbtn btn btn-outline-primary m-1" role="button" style="margin: 0px 60px">
                                        Code
                                    </a>
                                </div>    
                            </div>
                            <div class="row justify-content-evenly align-items-center">
                                <div class="btn-group-vertical">
                                    <a class="btn btn-outline-primary active" aria-disabled="true">
                                    Made Using:
                                    </a>
                                    <div class="btn-group flex-wrap" role="group">
                                        {% for key, value in display_techs.items %}
                                            {% if project.name == key %}
                                                {% for tech in value %}
                                                    <a href="{% url 'tech_page' tech.name %}"
                                                    class="cardbtn btn btn-outline-primary"> 
                                                    {{ tech.name }}
                                                    </a>
                                                {% endfor %}
                                            {% else %}
                                            <!-- continue -->
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="divider" id="Technologies"></div>
    <div class="container-md py-5">
        <h2 class="text-center py-5">Technologies</h2>
        <div class="row">
            {% for tech in techs %}
                <div class="col-sm-12 col-lg-4 mb-4">
                    <div class="card text-center bg-transparent text-white mb-3">
                        <a href="{% url 'tech_page' tech.name %}">
                            <img class="card-img-top" src="{{ tech.icon.url }}">
                        </a>
                        <div class="row justify-content-evenly align-items-center">
                            <div class="btn-group-vertical">
                                <a href="{% url 'tech_page' tech.name %}" class="btn btn-outline-primary active">
                                {{ tech.name }}
                                </a>
                                <a href="{% url 'tech_page' tech.name %}" class="cardbtn btn btn-outline-primary">
                                    Projects using this {% if tech.type %} {{ tech.type }} {% else %} Technology {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}