{% extends 'base.html' %}
{% load static %}



{% block page_content %}
    <div class="container py-5">
        <h2 class="text-center py-5" id="About-Me">About Me</h2>
        <p>
            I am a self taught programmer with a background in Supply Chain Management.
        </p>
    </div>
    <div class="container py-5">
    <h2 class="text-center py-5" id="Projects">Projects</h2>
        <div class="row">
            {% for project in projects %}
                <div class="col-sm-12 col-lg-4 mb-4">
                    <div class="card text-center bg-transparent text-white mb-3">
                        <img class="card-img-top" src="{% static project.icon %}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <p class="card-text">{{ project.short_desc }}</p>
                            <div class="row justify-content-center align-items-center">
                                <a href="{% url 'proj_page' project.name %}" class="btn btn-outline-primary m-1" role="button" style="margin: 0px 60px">
                                    Details
                                </a>
                                <a href={{project.repo}} target="_blank" class="btn btn-outline-primary m-1" role="button" style="margin: 0px 60px">
                                    Code
                                </a>
                                {% for key, value in displaytechs.items %}
                                    {% if project.name == key %}
                                        <a type="button" class="btn btn-outline-primary m-1"  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="{{ value }}" role="button" style="margin: 0px 60px">
                                            Tech Used
                                        </a>
                                    {% else %}
                                    <!-- continue -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container py-5">
        <h2 class="text-center py-5" id="Technologies">Technologies</h2>
            <div class="row">
                {% for tech in techs %}
                    <div class="col-sm-12 col-lg-4 mb-4">
                        <div class="card text-center bg-transparent text-white mb-3">
                            <img class="card-img-top" src="{% static tech.icon %}">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ tech.type }}</h5>
                                <a href="{% url 'tech_page' tech.id %}" class="btn btn-outline-primary m-1" style="margin: 0px 60px">
                                    Projects using this technology
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <div class="container py-5">
        <h2 class="text-center py-5" id="Resume">Resume</h2>
        <div class="text-center">
            <a href="{% static resume.pdf.url %}"  class="text-center py-5" download>Download</a>
        </div>
        <div class="text-center">
            <iframe width="850" height="1300" scrolling="auto" frameborder="no"
            src="https://docs.google.com/document/d/e/2PACX-1vSFvKtHjWtoOD8HOl6ZlOEgWbGkDOvfDKmeWmZ4q4oSauMqm3YPZVG8OQt5kHZTAQ/pub?embedded=true"></iframe>
        </div>
    </div>
{% endblock %}