{% extends 'baseproj.html' %}



{% block proj_readme %}

<h4 class="text-left py-5">Backend</h4>

<p class="row py-2">
This site was built with Python and Django.
The main page of the site is meant to provide a high level overview of my 
skillset, projects, and experience. Additionally, I wanted to provide the 
option to take a deeper dive into how I implemented different technologies 
and the approach I took for each project. Because Django is great at building 
out scalable content on web apps it was a great choice to build a portfolio site 
where I could easily add content.
</p>


<h4 class="text-left py-5">Frontend</h4>

<p class="row py-5 mb-5">
On the frontend I built off of Bootstrap and leveraged the grid system. My goal 
was for an easy to follow layout with plenty of options for the user in how they 
wanted to peruse.
</p>

{% endblock %}

