{% extends 'baseproj.html' %}


{% block proj_readme %}

<h4 class="text-center py-5">Played in a terminal, you can face off against an AI in a game of Tic Tac Toe.</h4>
<div class="row gx-7 py-5 mb-5">

    <div class="col-md-6 px-5">
        <h6 class="text-left py-2">A bit more human...</h6>

        <p>
        In Tic Tac Toe, there are often cases where different moves have the same strength in terms of winnability.
        To provide a more realistic experience, I added in a random choice of these equal valued moves so that the AI does not always choose the same move to make if there are other equally valid options.
        This way, even if you choose the exact same moves every game, the AI's response will vary game to game.
        </p>
    </div>

    <div class="col-md-6 px-5">
        <h6 class="text-left py-2">AI</h6>
        <p>
        The AI decides it's move using a recursive function that executes a minimax algorithm.
        I added a difficulty choice that alters the value that the minimax algorithm assigns to each potential move.
        This is implemented on a scale of 1-3.  At a difficulty of 1, the AI sees all potential moves as equally valid.
        At a difficulty of 2, it will recognize ties and wins as equally valid but will attempt to avoid a certain loss.
        At 3 the AI is fully optimized and unbeatable (you can still tie of course).
        </p>
    </div>

</div>

{% endblock %}