{% extends 'baseproj.html' %}


{% block proj_readme %}


<div class="clearfix">
    <h4 class="text-center py-2">Website Traffic Webhooks</h4>
    <img src="{{ WebsiteWebhook_Diagram.url }}" class="img-fluid col-md-7 float-md-end mb-3 ms-md-3" style="aspect-ratio: 3/2"/>
    <p>
        I wanted to create a simple proof of concept webhook, and an easy use case is providing real time messaging when events occur.
        I also needed an easy way to monitor web traffic on my portfolio to get a sense of how often it gets viewed.
        Many applications have built in webhooks and/or endpoints for similar purposes that are easy to integrate with. Discord is one example
        and is what I used to set up an endpoint for real time messaging. 
    </p>
    <p>
        I also wanted to ingest the data I was getting from the traffic to my portfolio in case I ever wanted to any sort of model 
        building or analysis on the data in the future. I knew that I wanted this data to ultimately land in BigQuery, so I decided to use 
        existing infrastructure I built as part of my Data Pipeline project. While one Webhook lands in a Discord channel, the other sends the Post 
        Request to an HTTP triggered Google Cloud Function that acts as the endpoint. This Cloud Function provides a response and publishes 
        the Request body to a Google Pub/Sub topic. This topic then triggers the appropriate Data Pipeline Cloud Function which cleans and prepares 
        the data to land in BigQuery.
    </p>
    <p>            
        Both this webhook and the one posting to Discord were built off the same class using Javascript. The class provides the framework for 
        gathering data and sending the Post Request. Whenever a page is loaded, a Webhook object is created for each endpoint and executes their 
        workflows. 
    </p>
</div>

<div class="container" id="RESTAPI" style="height: 10rem"></div>

<div class="container-fluid mt-5">
    <h4 class="text-center py-2">Power 5 Schools REST API</h4>
    <div class="row justify-content-center gx-5 mb-5 my-5">
        <div class="col w-50 displaybox mx-5">    
            <div class="row mt-1 mb-1">
                <div class="col">
                    <div class="dropdown justify-content-center mb-3">
                        <select class="form-select bg-dark text-white" id="conferenceSelector">
                            <option selected>Choose a Conference</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" id="fetchDataBtn">Fetch Data</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-1 mb-1">
                <div class="col align-self-center justify-content-center">
                    <div class="text-center" id="resultContainer"></div>
                </div>
            </div>
        </div>
        <div class="col w-50 align-self-start justify-content-center gx-5 mb-5">
            <div class="container-fluid mx-5">
                <div class="row">
                    <p>
                        REST APIs are one of the most widley used API designs. I have implemented a simple proof of concept API connection. 
                        The API is written in python, hosted on a Google Cloud Function, and CI/CD is setup through a Cloud Build trigger. 
                        I also added an API on the backend of this website to act as a router and better manage any additional APIs I might add in the future.
                        The data itself was originally webscraped and landed in Bigquery as part of my Data Pipeline Project. NoSQL solutions have lower read latency, so the data is copied
                        to an AWS dynamoDB table to increase API consumption performance.
                        While the point of this project was just to showcase a simple example, a point of improvement would be utilizing an API Gateway for better security, organization, and scalability.
                    </p>
                </div>
                <div class="row">
                    <img src="{{ RESTAPI_Diagram.url }}" class="img-fluid float-md mb-3 ms-md-3" style="aspect-ratio: 3/2"/>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}